<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="css/app.css">
    <!-- endbuild -->
  </head>
  <body ng-app="sea" ng-controller="ApplicationController as application_ctrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a ng-if="currentUser" href="#/">
              <img class="logo" src="img/logo.jpg" />
            </a>
            <img ng-if="!currentUser" class="logo" src="img/logo.jpg" />
          </div>

          <div class="collapse navbar-collapse"
              id="js-navbar-collapse">
            <ul ng-if="currentUser" class="nav navbar-nav">
              <li ng-if="isAuthorized(userRoles.advisor)">
                <a href="#/admin">Admin</a>
              </li>
              <li ng-if="isAuthorized(userRoles.worker)">
                <a href="#/worker">Worker</a>
              </li>
              <li>
                <a href="#/students">Students</a>
              </li>
              <li>
                <a href="#/students/new">New Student</a>
              </li>
            </ul>
            <ul ng-if="currentUser" class="nav navbar-nav navbar-right">
              <li class="dropdown" ng-show="currentUser" ng-cloak>
                <a class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true"
                    aria-expanded="false">
                    {{currentUser.last_name}},
                    {{currentUser.first_name}}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#/logout">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div ng-view=""></div>        
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from Josh Woodward</p>
      </div>
    </div>

    <script src="js/app.js"></script>

</body>
</html>
