<p>Coop Object: {{coop_modal_ctrl.coop}}</p>
<form name="addCoopForm"
	ng-submit="coop_modal_ctrl.submit()">
	<div class="modal-header">
		<h3 id="coop_modal_label">Add a coop</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="form-group col-md-12">
				<label for="coop_name">Company Name</label>
				<input type="text"
					class="form-control"
					ng-model="coop_modal_ctrl.coop.company_name"
					placeholder="Company Name" />
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" 
			class="btn btn-default"
			ng-click="coop_modal_ctrl.close()">
			Close
		</button>
		<button type="submit"
			class="btn btn-primary">
			Save Changes
		</button>
	</div>
</form>
