<div class="row">
	<div class="col-md-6 col-md-offset-2">
		<h1>New Audit Form</h1>
		<form name="newAuditForm" ng-submit="audit_new_ctrl.submit()">
			<div class="row">
				<div class="form-group col-md-12">
					<label for="date_performed">Date Performed</label>
					<p class="input-group">
						<input type="datetime"
							id="date_performed"
							class="form-control"
							uib-datepicker-popup="MM/dd/yyyy"
							is-open="audit_new_ctrl.status.opened"
							ng-model="audit_new_ctrl.audit.date_performed"
							placeholder="MM/dd/yyyy"
						/>
						<span class="input-group-btn">
							<button type="button"
								class="btn btn-default"
								ng-click="audit_new_ctrl.open_date_performed_picker()">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label for="comment">Comment</label>
					<textarea id="comment" 
						class="form-control"
						rows="5"
						ng-model="audit_new_ctrl.audit.comment"
						placeholder="Please enter a comment">
					</textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<button type="submit"
						class="btn btn-primary btn-block">
						Submit
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
