<div class="row">
	<div class="col s6 push-s3">
		<div>
			<h3><img class="logo" src="img/logo.jpg">SE Advising Login</h3>
			<div class="divider"></div>
			<div class="row section">
				<form class="col s12" 
					ng-submit="login_ctrl.login(login_ctrl.credentials)">
					<div class="row">
						<div class="col s12">
							<label for="email">Email:</label>
							<input placeholder="email@rit.edu" 
								id="email" 
								type="text" 
								ng-model="login_ctrl.credentials.email">
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<label for="password">Password:</label>
							<input placeholder="Enter your password"
								id="password"
								type="password"
								ng-model="login_ctrl.credentials.password">
						</div>
					</div>
					<div class="row">
						<button type="submit"
							class="waves-effect waves-light btn col s12">
							Login
						</button>
					</div>
					<div class="row">
						<a class="waves-effect waves-light btn col s12"
							ng-href="#/email_verification">
							<i class="material-icons">info_outline</i>
							Forgot your password?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
