<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Password Reset</h1>
			<p>Please enter a new password, as well as a password confirmation</p>
			<form name="passwordResetForm"	
				ng-submit="password_reset_ctrl.submit()">
				<div class="row">
					<div class="col-md-12">
						<label for="email">Email: </label>
						<input type="text"
							id="email"
							class="form-control"
							ng-model="password_reset_ctrl.user.email"
							readonly />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="password">Password: </label>
						<input type="password"
							id="password"
							class="form-control"
							placeholder="Enter a new password"
							ng-model="password_reset_ctrl.user.password" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="password_confirmation">
							Confirm Password:
						</label>
						<input type="password"
							id="password_confirmation"
							class="form-control"
							placeholder="Confirm your new password"
							ng-model="password_reset_ctrl.user.password_confirmation" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="submit" 
							class="btn btn-primary btn-block">
							Submit
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>