<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-10">
				<h4>Students</h4>
			</div>
			<div class="col-md-2">
				<a ng-href="#/students/new" 
				class="btn btn-success">
					<span class="glyphicon glyphicon-plus"></span>
					Add Student
				</a>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<table class="table striped">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Advisor</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="student in student_list_ctrl.students">
							<td>{{student.first_name}}</td>
							<td>{{student.last_name}}</td>
							<td>{{student.email}}</td>
							<td>
								{{student.advisor.first_name}}
								{{student.advisor.last_name}}
							</td>
							<td>
								<div class="btn-group dropdown" role="group">
									<button class="btn btn-primary" 
										ng-click="student_list_ctrl.goto(student.id)">
										Details
									</button>

									<button class="btn btn-default dropdown-toggle"
										type="button"
										id="actionsDropdown{{student.id}}"
										data-toggle="dropdown">
										More
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu"
										aria-labeled-by="actionsDropdown{{student.id}}">
										<li>
											<a ng-href="#/students/{{student.id}}/audits/new">
												Log Audit
											</a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>	
			</div>
		</div>
	</div>
</div>
