<div class="list-group">
	<a ng-repeat="transaction in transaction_log_ctrl.transactions"
		class="list-group-item"
		href="#/students/{{transaction.student_id}}"
		uib-popover="Click to go to {{transaction.student.first_name}} {{transaction.student.last_name}}'s student record"
		popover-trigger="mouseenter"> 
		<h4 class="list-group-item-heading">{{transaction.loggable_type}}
			<span class="label"
				ng-class="{Added:'label-success', Updated:'label-warning', Removed:'label-danger'}[transaction.action]">
				{{transaction.action}}
			</span>
		</h4>
		<p class="list-group-item-text">{{transaction.message}}</p>
		<p class="list-group-item-text">
			<b>
				{{transaction.student.first_name}} {{transaction.student.last_name}}
			</b>
			<i>{{transaction.created_at | date: "medium"}}</i>
		</p>
	</a>
</div>